@use "../../sass/" as *;

.products {
    @include flex(flex-start, flex-start);

    @include tablet {
        flex-direction: column;
    }

    &__left {
        width: 20%;
        position: sticky;
        height: 100%;
        top: 100px;

        @include tablet {
            width: max-content;
            height: 100vh;
            background-color: $main-bg;
            padding: 1rem;
            position: fixed;
            top: $header-tablet-height;
            left: 0;
            z-index: 100;
            box-shadow: $box-shadow;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
        }

        @include mobile {
            top: $header-mobile-height;
        }

        &.active {
            transform: translateX(0);
        }

        @include tablet {
            width: unset;
        }

        &__close {
            display: none;

            @include tablet {
                display: block;
                font-size: 2rem;
                margin-bottom: 1rem;
                cursor: pointer;
                font-weight: bold;
            }
        }

        &__filter {
            margin-bottom: 2rem;

            h2 {
                font-weight: 400;
                margin-bottom: 20px;
                font-size: 1.4rem;
            }

            &__input {
                @include flex(center, flex-start);
                margin-bottom: 10px;
                color: $txt-second-color;

                .checkbox,
                .radio {
                    width: 1.1rem;
                    height: 1.1rem;
                    cursor: pointer;
                }

                .range {
                    margin: 0 10px;
                    width: 50%;
                    cursor: pointer;
                }

                label {
                    margin-left: 10px;
                    cursor: pointer;
                }
            }

            &__toggle {
                display: none;

                @include tablet {
                    display: block;
                    margin-bottom: 2rem;
                }

                button {
                    background-color: $main-color;
                    color: $btn-main-color;
                    border: none;
                    outline: none;
                    padding: 8px 12px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
    }

    &__right {
        flex-grow: 1;
        
        @include tablet {
            width: 100%;
        }

        &__image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            margin-bottom: 50px;
        }

        .card {
            &__wrapper {
                text-align: center;
                width: 250px;
            }
        }
    }
}
